#!/bin/bash
xrandr --setprovideroutputsource modesetting NVIDIA-0
systemctl --user import-environment DISPLAY
/bin/bash if_monitor.sh
pulseaudio --daemonize
xfce4-power-manager --daemon
xautolock -time 10 -locker slock &
redshift -P -O 4500 &
nitrogen --restore &
compton --backend glx --vsync drm --unredir-if-possible --paint-on-overlay -b
dunst &
nm-tray &
copyq &
# nm-applet &
pasystray &
mpd ~/.config/mpd/mpd.conf
dwmblocks &
# devmon &
export _JAVA_AWT_WM_NONREPARENTING=1
ck-launch-session &
exec dbus-launch --sh-syntax --exit-with-session dwm
